[submodule "vim/pack/default/start/ctrlp.vim"]
	path = vim/pack/default/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/pack/default/start/python-syntax"]
	path = vim/pack/default/start/python-syntax
	url = git@github.com:vim-python/python-syntax.git
[submodule "vim/pack/default/start/vim-easy-align"]
	path = vim/pack/default/start/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "vim/pack/default/start/vim-fugitive"]
	path = vim/pack/default/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/default/start/vim-gitgutter"]
	path = vim/pack/default/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/pack/default/start/xoria256.vim"]
	path = vim/pack/default/start/xoria256.vim
	url = git@github.com:jimorie/xoria256.vim.git
[submodule "vim/pack/default/start/lightline.vim"]
	path = vim/pack/default/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
